<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <h1>Favourites</h1>
            <ul class="nav nav-sidebar list-favourites">
                <!-- Favourite lists here -->
            </ul>
            <h1>All Lists</h1>
            <ul class="nav nav-sidebar list-all">

                <!-- All lists here -->
            </ul>
        </div>
        <div class="col-sm-3 col-md-2 form-group register">
            <% include ../_register %>
        </div>
        <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <!-- <h1 class="page-header">WikiMaps</h1> -->
            <div class="row placeholders">
                <div id="map" class="col-xs-12 col-sm-6"></div>
            </div>
            <h2 class="sub-header header-selected-marker">Selected Marker</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody class="table-selected-markerinfo">
                        <!-- Selected Marker info goes here -->
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header header-all-markers">All Markers in List</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Favourite</th>
                        </tr>
                    </thead>
                    <tbody class="table-markerinfo">
                        <!-- Marker info goes here -->
                    </tbody>
                </table>
            </div>
            <br>
            <h1>Add new List</h1>
            <form action="/api/lists" method="POST">
                <div class="form-group">
                    <label for="list-name">List name</label>
                    <input type="text" class="form-control" id="list-name" name="name">
                </div>
                <div class="form-group">
                    <label for="list-description">Description</label>
                    <input type="text" class="form-control" id="list-description" name="description">
                </div>
                <button type="submit" class="btn btn-primary">Add List</button>
            </form>
            <br>
            <h2 class="sub-header header-contribs">My Contribs</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Favourite</th>
                        </tr>
                    </thead>
                    <tbody class="table-contrib-lists">
                        <!-- Marker info goes here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>