<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <h1>Favourites</h1>
            <ul class="nav nav-sidebar list-favourites">
                <!-- Favourite lists here -->
            </ul>
            <h1>All Lists</h1>
            <ul class="nav nav-sidebar list-all">

                <!-- All lists here -->
            </ul>
        </div>
        <div class="col-sm-3 col-md-2 form-group register">
            <% include ../_register %>
        </div>
        <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <!-- <h1 class="page-header">WikiMaps</h1> -->
            <div class="row placeholders">
                <div id="map" class="col-xs-12 col-sm-6"></div>
            </div>

           <% include _markers %>

            <br>
            <h2 class="sub-header header-contribs">My Contribs</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Favourite</th>
                        </tr>
                    </thead>
                    <tbody class="table-contrib-lists">
                        <!-- Contrib list goes here -->
                    </tbody>
                </table>
            </div>
            <% include _add-list.ejs %>
        </div>
    </div>
</div>
