<% if (user) { %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <h1>Favourites</h1>
        <ul class="nav nav-sidebar list-favourites">
          <!-- Favourite lists here -->
        </ul>
      <h1>All Lists</h1>
        <ul class="nav nav-sidebar list-all">
          <!-- All lists here -->
        </ul>
    </div>
        <% include ../_register %>
    <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2 main">
      <!-- <h1 class="page-header">WikiMaps</h1> -->
      <div class="row placeholders">
        <div id="map" class="col-xs-12 col-sm-6">
        </div>
      </div>
        <% include _markers %>
        <br>
        <% include _add-list %>
        <br>
        <% include _edit-marker %>
    </div>
  </div>
</div>
<% } else { %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <h1>All Lists</h1>
        <ul class="nav nav-sidebar list-all">
          <!-- All lists here -->
        </ul>
    </div>
        <% include ../_register %>
    <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2 main">
      <!-- <h1 class="page-header">WikiMaps</h1> -->
      <div class="row placeholders">
        <div id="map" class="col-xs-12 col-sm-6">
        </div>
      </div>
        <% include _markers %>
        <br>
        <% include _add-list %>
        <br>
        <% include _edit-marker %>
    </div>
  </div>
</div>

<% } %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
