<% if (user) { %>
    <!-- <div class="hide-table-until-click">  -->
    <div>
        <h2 class="sub-header header-all-markers">Click list to see markers
            <span class="star-button">
            <span onclick="myStarClick()">
                <i class="fa fa-star-o fa-1x" aria-hidden="true"></i>
            </span>
            </span>
        </h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody class="table-markerinfo">
                    <!-- Marker info goes here -->
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <% } %>