<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <h1>Favourites</h1>
            <ul class="nav nav-sidebar list-favourites">
                <!-- Favourite lists here -->
            </ul>

        </div>
<!--         <div class="col-sm-3 col-md-2 form-group register">
            <% include ../_register %>
        </div> -->
        <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <div class="row placeholders">
                <div id="map" class="col-xs-12 col-sm-6"></div>
            </div>
            <br>
            <% include _contributions %>
            <% include _add-list.ejs %>
        </div>
    </div>
</div>
