<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_head %>
  </head>
  <body>
   <%- include('../lists/_edit-list', { id: id, name: name, description: description }); %>
  </body>
</html>
