
<% if (!user) { %>
  <form action="/api/register" method="POST">
      <label for="register">Sign Up</label>
      <input type="email" class="form-control" name="email" placeholder="Enter Email">
      <input type="password" class="form-control" name="password" placeholder="Enter Password">
      <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
  <% if (errors && errors.length) { %>
    <% errors.forEach(error => { %>
      <h2>Error: <%= error %></h2>
    <% }); %>
  <% } %>
<% } %>


