<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ./partials/_head %>

  </head>

  <body>

    <header>

      <% include ./partials/_header %>
      <% include ./partials/_body %>
    </header>
  </body>
  <% include ./partials/_footer %>
</html>
