<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ./partials/_head %>
    <title>Home Page</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <header>

      <% include ./partials/_header %>
      <% include ./partials/_body %>
    </header>
  </body>
  <% include ./partials/_footer %>
</html>
