<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<!--     <script type="text/javascript" src="/scripts/app.js"></script> -->

  </head>
  <body>
    <form method="GET" action="/login">
      <input type="email" label="Email" name="email">
      <input type="password" label="Password" name="password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
