<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps app</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <body>
    <form method="post" action="/api/logout">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
