body {
  background-color: #f9fbff;
  font-family: 'Lato', sans-serif;
  padding-top: 120px;
}

.sub-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.main {
  padding: 20px;
}

.sign-up-message {
  color: #4095DE;
  font-size: 3em;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

#map {
  height: 450px;
  width: 100%;
}

#garbage-can:hover {
  color: red;
  cursor: pointer;
}

#pencil-button:hover {
  color: #a3ccff;
  cursor: pointer;
}

#star-button {
  cursor: pointer;
  text-align: center;
}

#star-button.fa-pencil {
  margin-left: 10px;
}

.hide-table-until-click {
  display: none;
}

tr {
  cursor: pointer;
}

/*
 * Top navigation
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-light {
  background-color: #a3ccff;
}

.navbar-brand {
  color: #EFFAF8;
  font-size: 50px;
  margin-top: 10px;
}

.navbar-brand,
.navbar-nav li a {
  height: 100px;
  line-height: 40px;
}

.error-flash-message {
  color: white;
  display: inline;
  float: right;
  font-size: 1.5em;
  margin-top: 30px;
}

/* Sidebar navigation */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    background-color: #f5f5f5;
    border-right: 0;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    padding-left: 5px;
    padding-top: 5px;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
  /* 20px padding + 1px border */
}

.nav-sidebar > li > a {
  color: #60aff2;
  font-size: 2em;
  padding-left: 30px;
  padding-right: 20px;
}

.nav-sidebar > li > a:hover {
  background-color: #a3ccff;
  color: #EFFAF8;
}

.nav-sidebar > li > a:focus {
  background-color: #ddf7ff;
  color: #B0D8F0;
}

.sidebar {
  background-color: #EFFAF8;
  padding-top: 50px;
}

.sidebar h1 {
  color: #4095DE;
  font-size: 2.5em;
}

/* LOGIN FORM */
.form-inline .form-control {
  font-size: 20px;
  height: 50px;
  width: 200px;
}

.form-inline .form-control::placeholder {
  font-size: 20px;
}

.form-inline.login {
  border: 1px solid #B0D8F0;
  margin: 20px;
}

.btn.btn-secondary {
  background-color: #4095DE;
  border: 0;
  color: #EFFAF8;
  cursor: pointer;
  font-size: 2em;
}

.btn.btn-secondary:hover {
  background-color: #EFFAF8;
  color: #4095DE;
}

/* REGISTER FORM */
.form-group.register {
  float: right;
}

.form-group .form-control {
  font-size: 20px;
  height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.form-group .form-control::placeholder {
  font-size: 20px;
}

.btn.btn-primary {
  background-color: #4095DE;
  border: 0;
  color: #EFFAF8;
  cursor: pointer;
  font-size: 2em;
}

.btn.btn-primary:hover {
  background-color: #a3ccff;
}

label[for="register"] {
  color: #4095DE;
  font-size: 3em;
}

.error-message-register {
  color: #4095DE;
  font-size: 1.5em;
}

/* Marker Card*/
#sidebar-card {
  background-color: white;
  border: 2px solid #4095DE;
  border-radius: 5px;
  display: none;
  float: right;
  height: 450px;
  margin-top: 20px;
  margin-right: 30px;
}

.marker-default-img {
  height: 170px;
  margin: 10px;
  vertical-align: middle;
  width: 170px;
}

.marker-all-info {
  text-align: center;
}

.header-selected-marker {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  padding: 5px;
  position: absolute;
}

#pencil-button {
  padding-left: 65px;
  padding-bottom: 5px;
}

.marker-timestamp {
  padding-bottom: 5px;
}

div.profile-link {
  float: right;
  margin-top: 15px;
}

a.profile {
  color: #EFFAF8;
  font-size: 3em;
}

div.edit-form {
  margin-left: 100px;
}

form .btn.btn-danger {
  cursor: pointer;
  font-size: 2em;
  margin-top: -20px;
}

form .btn.btn-warning {
  cursor: pointer;
  font-size: 2em;
  margin-right: 10px;
  margin-top: -40px;
}
