#garbage-can:hover {
  color: red;
  cursor: pointer;
}

#pencil-button:hover {
  color:#a3ccff;
  cursor: pointer;
}

#star-button {
  cursor: pointer;
  text-align: center;
}

#star-button.fa-pencil {
  margin-left: 10px;
}

.hide-table-until-click {
  display: none;
}

tr {
  cursor: pointer;
}
