#garbage-can:hover {
  color: red;
  cursor: pointer;

}


#pencil-button:hover {
  color:#a3ccff;
  cursor: pointer;

}

#star-button {
  text-align: center;
  cursor: pointer;
}

.star-button-active {
  color:yellow;
}

.hide-table-until-click {
  display: none;
}
