div.edit-form {
  margin-left: 100px;
}
form .btn.btn-danger {
  cursor: pointer;
  font-size: 2em;
  margin-top: -20px;
}
form .btn.btn-warning {
  cursor: pointer;
  font-size: 2em;
  margin-right: 10px;
  margin-top: -40px;
}
