/* LOGIN FORM */
.form-inline .form-control {
    font-size: 20px;
    height: 50px;
    width: 200px;
}

.form-inline .form-control::placeholder {
  font-size: 20px;
}

.form-inline.login {
  border: 1px solid #B0D8F0;
  margin: 20px;
}

.btn.btn-secondary {
  background-color: #4095DE;
  border: 0;
  color: #EFFAF8;
  cursor: pointer;
  font-size: 2em;
}

.btn.btn-secondary:hover {
  background-color: #EFFAF8;
  color:#4095DE;
}
