/*
 * Top navigation
 */

.navbar-fixed-top {
  border: 0;
}

.navbar-light {
  background-color: #a3ccff;
}

.navbar-brand {
  color: #EFFAF8;
  font-size: 50px;
  margin-top: 10px;
}

.navbar-brand,
.navbar-nav li a {
    height: 100px;
    line-height: 40px;
}

.error-flash-message {
  color:white;
  display: inline;
  float: right;
  font-size: 1.5em;
  margin-top: 30px;
}
