/* REGISTER FORM */
.form-group.register {
  float: right;
}

.form-group .form-control {
 font-size: 20px;
 height: 50px;
 margin-top: 5px;
 margin-bottom: 5px;
 width: 100%;
}
.form-group .form-control::placeholder {
  font-size: 20px;
}
.btn.btn-primary {
  background-color: #4095DE;
  border: 0;
  color: #EFFAF8;
  cursor: pointer;
  font-size: 2em;
}
.btn.btn-primary:hover {
  background-color: #a3ccff;
}
.btn.btn-danger {
  cursor: pointer;
  font-size: 2em;
}

label[for="register"] {
  color:#4095DE;
  font-size: 3em;
}

.error-message-register {
  color: #4095DE;
  font-size: 1.5em;
}

/* Marker Card*/

#sidebar-card {
  float: right;
  border: 2px solid #4095DE;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 30px;
  background-color: white;
  display: none;
}

.marker-default-img {
  height: 170px;
  width: 170px;
  vertical-align: middle;
  margin: 10px;
}
.marker-all-info{
  /*vertical-align: middle;*/
  text-align: center;
}
.header-selected-marker {
  vertical-align: middle;
}
#star-button {
  padding-left: 10px;
}
 .card-footer {
  padding: 5px;
 }
