/* Sidebar navigation */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    background-color: #f5f5f5;
    border-right: 0;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding-left: 5px;
    padding-top: 5px;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
}

.nav-sidebar > li > a {
  color:#60aff2;
  font-size: 2em;
  padding-left: 30px;
  padding-right: 20px;
}

.nav-sidebar > li > a:hover {
  background-color: #a3ccff;
  color:#EFFAF8;
}
.nav-sidebar > li > a:focus {
  background-color: #ddf7ff;
  color: #B0D8F0;
}

.sidebar {
  background-color: #EFFAF8;
  padding-top: 50px;
}

.sidebar h1 {
  color: #4095DE;
  font-size: 2.5em;
}
